.backdrop {
  background: rgba(150, 142, 142, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;

  & .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white-color;

  &__button {
    display: flex;
    justify-content: center;
  }
  &__title {
    color: $text-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    width: 448px;
    margin: 0 auto;
    padding-top: 40px;
  }
  &__button--close {
    border-radius: 50%;
    background: $white-color;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 490px;
    top: 8px;
  }
}
.baner {
  background-image: url(assets/baner.png);
  width: 1600px;
  height: 600px;

  &__title {
    color: $white-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    width: 696px;
    margin: 0 auto;
    padding-top: 200px;
  }

  &btn__wrapper {
    display: flex;
    justify-content: center;
  }

  &__btn,
  &--send {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: $hover-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $white-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;
  }
  &__button--close:hover path {
    fill: $hover-color;
  }
  &__input {
    padding-left: 42px;
    width: 452px;
    height: 46px;
    color: $hover-color;
    margin-right: 39px;
  }
  &__input:placeholder-shown {
    width: 452px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__input:placeholder-shown:hover,
  textarea:placeholder-shown:hover {
    border-color: $hover-color;
    border-radius: 4px;
    background: $white-color;
  }
}

.field__header {
  color: $subtitle-color;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  margin-top: 12px;
}
.field__wrapper {
  position: relative;
}
.field__wrapper:hover path {
  fill: $hover-color;
}
.field__wrapper,
.field__header {
  margin-left: 40px;
}
textarea {
  width: 448px;
  height: 120px;
}
textarea:placeholder-shown {
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.checkbox {
  width: 16px;
  height: 15px;
  border-color: $text-color;
  color: #000;
  margin-top: 25px;
  margin-left: 54px;
  margin-right: 7px;
}
.field__label {
  color: $subtitle-color;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.filed__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
}
.filed__link {
  color: $hover-color;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.btn__wrapper--send {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding-top: 12px;
  padding-left: 16px;
}
