.buttons__posters {
  display: flex;
  margin: 0 auto;
  width: 575px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn__posters {
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
  padding: 6px 25px;
  color: $text-color;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.btn__posters:hover {
  border-radius: 4px;
  background: $hover-color;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: $white-color;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.posters {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.posters__item {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: $white-color;
  margin-bottom: 30px;
}
.posters__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.item__img__wrapper {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: $hover-color;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transform: translateY(100%);
  transition: 1s ease-in;
}
.item__overlay__text {
  color: $white-color;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  width: 322px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.item__img__wrapper:hover .overlay,
.item__img__wrapper:focus .overlay {
  transform: translateY(0);
}

.item__img__wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.item__img__wrapper:hover .overlay:hover {
  transform: translateY(0);
}

// .item__img {
//   width: 100%;
//   height: 100%;
// }

.item__subtext {
  color: $text-color;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.item__subtitle {
  color: $subtitle-color;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
